body { margin: 0; font-family: system-ui; font-size: 13px; color: #27272a }
p { margin: 0; padding: 8px; width: 170px }
#em { font-size: 10px; color: #71717a }
#big { font-size: 20px; color: #18181b }
